<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicore.mapper.SysRoleMapper">
    
    <select id="selectRolesByUserId" resultType="com.unicore.entity.SysRole">
        SELECT r.*
        FROM sys_role r
        LEFT JOIN sys_user_role ur ON r.ROLE_ID = ur.ROLE_ID
        WHERE ur.USER_ID = #{userId}
        AND r.VALI_FLAG = '1'
        AND r.STAS_FLAG = '1'
    </select>
</mapper>
